body {
    /* Old browsers */
    background: #141E30;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #2b61a3, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-45deg, #2b61a3, #141E30);
    margin: 0;
    padding: 0;
  }
head{
    overflow: hidden;
}
h1{
    color: #141E30;
    background-color: rgb(157, 204, 248);
    font: 1em sans-serif;
    font-size: 30px;
    text-align: center;
}
h2{
    color: #141E30;
    background-color: rgb(157, 204, 248);
    font: 1em sans-serif;
    font-size: 25px;
    text-align: center;
}
h3{
    color: white;
    font: 1em sans-serif;
    font-size: 18px;
    padding-left: 10px;
    text-decoration: underline;
}
p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 5px 10px 50px 10px;
}
.description{
    font-size: 15px;
}
.year{
    font-size: 12px;
    opacity: 60%;
}
#concepts{
    font-style: oblique;
}
.headline{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 20px;
}
#head{
    font-size: 18px;
    padding-bottom: 0px;
}
.image{
    display: block;
    margin: 0 auto;
}
.image:hover{
    padding: 5px;
    border: white solid 1px;
}
#list{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
    padding-top: 13px;
    background-color: rgb(28, 50, 70);
    overflow: hidden;
    text-align: center;
    height: 40px;
}
nav a:hover{
    color:crimson;
}
nav a {
    text-decoration: none;
    padding: 30px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

